<style>

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke
    
}

h1, h2 {
    color:#008E97;
    font-family: "Georgia:";
    
}

h3, h4, h5 {
    color:#005778;
    font-family: "Georgia"
}

aside {
    
    border: 3px solid #FC4C02;
    background-color: #008E97;
    color: white;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
footer {
    margin-top: 5rem;
    font-style:italic;
}
.aside-header {
    color:white;
    font-size: 175%;

}

.lead-quote {
    font-size: larger;
}


blockquote {
    font-style: italic;
}

.logo {
    display:block;
    border:2px solid #FC4C02;
    margin-left:auto;
    margin-right:auto;
    }


</style>